@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('../fonts/Figtree/Figtree-Light.woff2') format('woff2'),
    url('../fonts/Figtree/Figtree-Light.woff') format('woff');
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/Figtree/Figtree-Regular.woff2') format('woff2'),
    url('../fonts/Figtree/Figtree-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('../fonts/Figtree/Figtree-Medium.woff2') format('woff2'),
    url('../fonts/Figtree/Figtree-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('../fonts/Figtree/Figtree-SemiBold.woff2') format('woff2'),
    url('../fonts/Figtree/Figtree-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('../fonts/Figtree/Figtree-Bold.woff2') format('woff2'),
    url('../fonts/Figtree/Figtree-Bold.woff') format('woff');
}
