$xxl: 1920px;
$xl: 1440px;
$lg: 1280px;
$md: 1024px;
$sm: 768px;
$xs: 540px;
$xs2: 375px;

$color-white: #ffffff;
$color-black: #1e1e1e;
$color-grey-900: #1c1c1c;
$color-grey-800: #212121;
$color-grey-750: #262626;
$color-grey-700: #323232;
$color-grey-600: #3a3a3a;
$color-grey-500: #777777;
$color-grey-400: #a2a2a2;
$color-grey-300: #a1a1a1;
$color-grey-200: #dddddd;
$color-yellow: #fcad17;
$color-yellow-hover: #fbc051;
$color-blue: #5ca2f4;
$color-blue-hover: #76b7f7;
$color-green: #009537;
$color-green-hover: #33b061;
$color-green-dark: #124926;
$color-error: #ea4330;
$color-error-hover: #ef6a5a;
$color-error-dark: #491215;

$main-font: 'Figtree', sans-serif;
$transition: 0.3s;
